:root{
    --shadow: #363636;
    --biroblue: rgb(81, 99, 122);
    --mole: rgb(116, 91, 87);
    --viget: rgb(240, 240, 240);
    --lightgrey: rgb(204, 204, 204);
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    background: var(--shadow);
    background-size: cover;
}

svg{
    fill: #f0f0f0;
}

 .outer{
    display: block;
    width: 25%; 
    position: absolute;
    left: 20%;
    top: -30%;
    z-index: -1;
    -webkit-animation: Outer-circumference 20s linear infinite;
    -moz-animation: Outer-circumference 20s linear infinite;
    animation: Outer-circumference 20s linear infinite;
}

.middle{
    display: block;
    position: absolute;
    width: 17%;
    left: 24%;
    top: -18%;
    z-index: -1; 
    animation: Inner-circumference 20s linear infinite;
    -webkit-animation: Inner-circumference 20s linear infinite;
    -moz-animation: Inner-circumference 20s linear infinite;
}

.inner{
    display: block;
    position: absolute;
    width: 9%;
    left: 28%;
    top: -7%;
    z-index: -1;
    -webkit-animation: Outer-circumference 20s linear infinite;
    -moz-animation: Outer-circumference 20s linear infinite;
    animation: Outer-circumference 20s linear infinite;
}

.setting{
    position: absolute;
    width: 10%;
    z-index: -1;
}

.one{
    bottom: 3%;
    right: 20.5%;
    animation: antiroll  2s 0.5s linear infinite;
}

.two{
    bottom: 6%;
    right: 13.5%;
    animation: roll 2s 0.5s linear infinite;
}

.three{
    bottom: 3%;
    right: 6.5%;
    animation: antiroll 2s 0.5s linear infinite;
}

#btn{
    width:10%;
    padding: 1%;
    margin: 35% 1% 1% 5%;
    color: var(--mole);
    background: var(--viget);
    border: none;
    border-radius: 4px;
    box-shadow: 0 0 2px 2px var(--viget);
    z-index: 1;
    cursor: pointer;

    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
}

#btn:hover{
    background: var(--shadow);
    color: var(--viget);
}





@-webkit-keyframes Outer-circumference{
    100%{
        transform: rotate(1turn)
        translateZ(0); 
    }
}

@-moz-keyframes Outer-circumference{
    100%{
        transform: rotate(1turn)
        translateZ(0); 
    }
}

@keyframes Outer-circumference{
    100%{
        transform: rotate(1turn)
        translateZ(0); 
    }
}

@-webkit-keyframes Inner-circumference{
    100% {
        transform: rotate(-360deg)
        translateZ(0); 
    }
}

@-moz-keyframes Inner-circumference{
    100% {
        transform: rotate(-360deg)
        translateZ(0); 
    }
}

@keyframes Inner-circumference{
    100% {
        transform: rotate(-360deg)
        translateZ(0); 
    }
}

@-webkit-keyframes roll{
    100%{ transform: rotate(1turn);}
}

@-moz-keyframes roll{
    100%{transform: rotate(1turn);}
}

@keyframes roll{
    100%{transform: rotate(1turn);}
}


@-webkit-keyframes antiroll{
    100%{ transform: rotate(-360deg);}
}

@-moz-keyframes antiroll{
    100%{transform: rotate(-360deg);}
}

@keyframes antiroll{
    100%{transform: rotate(-360deg);}
}
